{% extends 'base/base.html' %} {% load static %} {% block content %}

<!-- Carousel Start -->

<div class="container-fluid p-0 pb-5">
  <div class="owl-carousel header-carousel position-relative">
    <div class="owl-carousel-item position-relative">
      <img class="img-fluid" src="/staticfiles/header_slide1.jpg" alt="" />
      <div
        class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center"
        style="background: #00173096"
      >
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-12 col-lg-8 text-center">
              <h5 class="text-white text-uppercase mb-3 animated slideInDown">
                Bienvenue sur Dave Procode
              </h5>
              <h1 class="display-3 text-white animated slideInDown mb-4">
                L'alliance parfaite de la création et du code
              </h1>
              <p class="fs-5 fw-medium text-white mb-4 pb-2">
                Fiabilité à chaque solution, expérience garantie
              </p>
              <a
                href="#devisacceuil"
                class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft"
                >Demander un devis</a
              >
              <a
                href="{% url 'about' %}"
                class="btn btn-light py-md-3 px-md-5 animated slideInRight"
                >A propos</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="owl-carousel-item position-relative">
      <img class="img-fluid" src="/staticfiles/header_slide2.jpg" alt="" />
      <div
        class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center"
        style="background: #00173096"
      >
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-12 col-lg-8 text-center">
              <h5 class="text-white text-uppercase mb-3 animated slideInDown">
                Bienvenue sur Dave Procode
              </h5>
              <h1 class="display-3 text-white animated slideInDown mb-4">
                L'alliance parfaite de la création et du code
              </h1>
              <p class="fs-5 fw-medium text-white mb-4 pb-2">
                Fiabilité à chaque solution, expérience garantie
              </p>
              <a
                href="#devisacceuil"
                class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft"
                >Demander un devis</a
              >
              <a
                href=""
                class="btn btn-light py-md-3 px-md-5 animated slideInRight"
                >A propos</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="owl-carousel-item position-relative">
      <img
        class="img-fluid"
        src="/staticfiles/header_slide3.jpg"
        alt=""
        style="object-fit: cover"
      />
      <div
        class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center"
        style="background: #00173096"
      >
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-12 col-lg-8 text-center">
              <h5 class="text-white text-uppercase mb-3 animated slideInDown">
                Bienvenue sur Dave Procode
              </h5>
              <h1 class="display-3 text-white animated slideInDown mb-2">
                L'alliance parfaite de la création et du code
              </h1>
              <p class="fs-5 fw-medium text-white mb-4 pb-2">
                Fiabilité à chaque solution, expérience garantie
              </p>
              <a
                href="#devisacceuil"
                class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft"
                >Demander un devis</a
              >
              <a
                href=""
                class="btn btn-light py-md-3 px-md-5 animated slideInRight"
                >A propos</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Carousel End -->

<!-- Carousel Start -->

<div class="container-fluid p-0 pb-5">
  <!-- <div
    class="owl-carousel header-carousel position-relative owl-loaded owl-drag"
  > -->
  <div class="owl-carousel-item position-relative">
    <img class="img-fluid" src="/staticfiles/header_slide3.jpg" alt="" />
    <div
      class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center"
      style="background: #00173096"
    >
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 col-lg-8 text-center">
            <h5 class="text-white text-uppercase mb-3 animated slideInDown">
              Bienvenue sur Dave Procode
            </h5>
            <h1
              class="display-3 text-white animated slideInDown mb-4"
              style="font-family: Arial Black !important"
            >
              L'alliance parfaite de la création et du code
            </h1>
            <p class="fs-5 fw-medium text-white mb-4 pb-2">
              Fiabilité à chaque solution, expérience garantie
            </p>
            <a
              href="#devisacceuil"
              class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft"
              >Demander un devis</a
            >
            <a
              href=""
              class="btn btn-light py-md-3 px-md-5 animated slideInRight"
              >A propos</a
            >
          </div>
        </div>
      </div>
    </div>
    <!-- </div> -->

    <!-- <div class="owl-carousel-item position-relative">
      <img class="img-fluid" src="/media/header_slide2.jpg" alt="" />
      <div
        class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center"
        style="background: #00173096"
      >
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-12 col-lg-8 text-center">
              <h5 class="text-white text-uppercase mb-3 animated slideInDown">
                Bienvenue sur Dave Procode
              </h5>
              <h1 class="display-3 text-white animated slideInDown mb-4">
                L'alliance parfaite de la création et du code
              </h1>
              <p class="fs-5 fw-medium text-white mb-4 pb-2">
                Fiabilité à chaque solution, expérience garantie
              </p>
              <a
                href="#devisacceuil"
                class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft"
                >Demander un devis</a
              >
              <a
                href=""
                class="btn btn-light py-md-3 px-md-5 animated slideInRight"
                >A propos</a
              >
            </div>
          </div>
        </div>
      </div>
    </div> -->
    <!-- <div class="owl-carousel-item position-relative">
      <img
        class="img-fluid"
        src="/media/header_slide3.jpg"
        alt=""
        style="object-fit: cover"
      />
      <div
        class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center"
        style="background: #00173096"
      >
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-12 col-lg-8 text-center">
              <h5 class="text-white text-uppercase mb-3 animated slideInDown">
                Bienvenue sur Dave Procode
              </h5>
              <h1 class="display-3 text-white animated slideInDown mb-4">
                L'alliance parfaite de la création et du code
              </h1>
              <p class="fs-5 fw-medium text-white mb-4 pb-2">
                Fiabilité à chaque solution, expérience garantie
              </p>
              <a
                href="#devisacceuil"
                class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft"
                >Demander un devis</a
              >
              <a
                href=""
                class="btn btn-light py-md-3 px-md-5 animated slideInRight"
                >A propos</a
              >
            </div>
          </div>
        </div>
      </div>
    </div> -->
  </div>
</div>

<!-- Carousel End -->

<!--  
<div class="container-fluid p-0 pb-5">
  <div
    class="owl-carousel header-carousel position-relative owl-loaded owl-drag"
  >
    <div class="owl-stage-outer">
      <div
        class="owl-stage"
        style="
          transform: translate3d(-1784px, 0px, 0px);
          transition: all 0s ease 0s;
          width: 3122px;
        "
      >
        <div class="owl-item cloned" style="width: 446px">
          <div class="owl-carousel-item position-relative">
            <img class="img-fluid" src="/media/header_slide2.jpg" alt="" />
            <div
              class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center"
              style="background: #00173096"
            >
              <div class="container">
                <div class="row justify-content-center">
                  <div class="col-12 col-lg-8 text-center">
                    <h5
                      class="text-white text-uppercase mb-3 animated slideInDown"
                    >
                      Bienvenue sur Dave Procode
                    </h5>
                    <h1 class="display-3 text-white animated slideInDown mb-4">
                      L'alliance parfaite de la création et du code
                    </h1>
                    <p class="fs-5 fw-medium text-white mb-4 pb-2">
                      Fiabilité à chaque solution, expérience garantie
                    </p>
                    <a
                      href="#devisacceuil"
                      class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft"
                      >Demander un devis</a
                    >
                    <a
                      href=""
                      class="btn btn-light py-md-3 px-md-5 animated slideInRight"
                      >A propos</a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="owl-nav">
      <div class="owl-prev"><i class="bi bi-chevron-left"></i></div>
      <div class="owl-next"><i class="bi bi-chevron-right"></i></div>
    </div>
    <div class="owl-dots">
      <div class="owl-dot"><span></span></div>
      <div class="owl-dot"><span></span></div>
      <div class="owl-dot active"><span></span></div>
    </div>
  </div>
</div>  -->

<!--   section valeurs -->

<div class="container text-center">
  <div class="row align-items-center">
    <div class="col" style="background-color: #2671f8">
      <img src="/staticfiles/assets/Creativite.png" class="val" /><br />
      <h4>
        <font color="white">Créativité</font>
      </h4>
    </div>
    <div class="col" style="background-color: #d05a0b">
      <img src="/staticfiles/assets/professionalisme.png" class="val" /><br />
      <h4>
        <font color="white">Professionnalisme</font>
      </h4>
    </div>
    <div class="col" style="background-color: #2671f8">
      <img src="/staticfiles/assets/perfection.png" class="val" /><br />
      <h4>
        <font color="white">Perfection</font>
      </h4>
    </div>
    <div class="col" style="background-color: #d05a0b">
      <img src="/staticfiles/assets/efficacite.png" class="val" /><br />
      <h4>
        <font color="white">Efficacité</font>
      </h4>
    </div>
  </div>
</div>

<!-- fin section valeurs-->

<!-- Feature Start -->
<div
  class="container-fluid bg-light overflow-hidden px-lg-0"
  style="margin: 16rem 10"
>
  <div class="container feature px-lg-0">
    <div class="row g-0 mx-lg-0">
      <div class="col-lg-6 feature-text py-5 wow fadeIn" data-wow-delay="0.5s">
        <div class="p-lg-5 ps-lg-0">
          <div class="section-title text-start">
            <h3 class="display-7 mb-4" style="color: #001730">
              Qui sommes-nous?
            </h3>
          </div>
          <p class="mb-4 pb-2 text-justify" style="color: #001730">
            En tant qu'entreprise commerciale, nous mettons un point d'honneur à
            offrir des solutions informatiques sur mesure à nos clients.
          </p>
          <video
            class="card-img-top"
            src="/staticfiles/pub 4.mp4"
            alt="..."
            style="
              height: 200px;
              border-radius: 20px 20px 20px 20px;
              object-fit: cover;
            "
            autoplay
            muted
            loop
          ></video>
        </div>
      </div>
      <div class="col-lg-6 feature-text py-5 wow fadeIn" data-wow-delay="0.5s">
        <div class="p-lg-5 ps-lg-0">
          <div class="section-title text-start"></div>
          <p class="mb-4 pb-2 text-justify" style="color: #001730">
            Nous sommes convaincus que chaque projet est unique et que les
            besoins de chacun diffèrent. C'est pourquoi nous mettons à leur
            disposition une équipe de professionnels passionnés et expérimentés,
            capables de relever tous les défis en matière de programmation et de
            graphisme. Nous sommes fiers de fournir un service de qualité
            supérieure à nos clients et de contribuer à leur succès sur le
            marché numérique.
          </p>
          <a href="{% url 'about' %}" class="btn btn-primary">En savoir plus</a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- fin pourquoi nous choisir -->

<!-- A propos -->

<!-- fin A propos -->

<!-- services -->

<div
  class="container d-flex align-items-center justify-content-center"
  style="color: #001730"
>
  <h4><strong>Nos services</strong></h4>
</div>
<br />

<div class="d-flex flex-wrap justify-content-around">
  <!-- Première ligne -->
  <div class="card mb-3" style="width: 18rem; border-radius: 20px">
    <img
      src="/staticfiles/webimg.jpg"
      class="card-img-top"
      alt="..."
      style="height: 200px; border-radius: 20px 20px 0 0; object-fit: cover"
    />
    <div class="card-body text-center">
      <h5 class="card-title">Developpement web</h5>
      <p class="card-text">
        sites web interactifs, applications innovantes. Nous concrétisons vos
        idées avec une expertise de pointe.
      </p>
      <a
        href="{% url 'service' %}#serviceDeveloppementWeb"
        class="btn btn-primary"
        >Voir plus</a
      >
    </div>
  </div>

  <div class="card mb-3" style="width: 18rem; border-radius: 20px">
    <img
      src="/staticfiles/marketingimg.jpg"
      class="card-img-top img-fluid"
      alt="..."
      style="height: 200px; border-radius: 20px 20px 0 0; object-fit: cover"
    />
    <div class="card-body text-center">
      <h5 class="card-title">Marketing Digital</h5>
      <p class="card-text">
        Du référencement à la stratégie sur les réseaux sociaux, nous maximisons
        votre présence en ligne pour atteindre votre public cible.
      </p>
      <a
        href="{% url 'service' %}#serviceDeveloppementWeb"
        class="btn btn-primary"
        >Voir plus</a
      >
    </div>
  </div>

  <div class="card mb-3" style="width: 18rem; border-radius: 20px">
    <img
      src="/staticfiles/design.jpg"
      class="card-img-top img-fluid"
      alt="..."
      style="height: 200px; border-radius: 20px 20px 0 0; object-fit: cover"
    />
    <div class="card-body text-center">
      <h5 class="card-title">Design</h5>
      <p class="card-text">
        Conception graphique, interfaces élégantes : chaque pixel compte pour
        une expérience visuelle mémorable.
      </p>
      <a
        href="{% url 'service' %}#serviceDeveloppementWeb"
        class="btn btn-primary"
        >voir plus</a
      >
    </div>
  </div>
</div>
<br />

<div class="d-flex flex-wrap justify-content-around">
  <!-- Deuxième ligne -->
  <div class="card mb-3" style="width: 18rem; border-radius: 20px">
    <img
      src="/staticfiles/infographieimg.jpg"
      class="card-img-top img-fluid"
      alt="..."
      style="height: 200px; border-radius: 20px 20px 0 0; object-fit: cover"
    />
    <div class="card-body text-center">
      <h5 class="card-title">Infographie</h5>
      <p class="card-text">
        Notre équipe d'infographistes donne vie à vos idées avec des graphismes
        créatifs et des illustrations captivantes.
      </p>
      <a
        href="{% url 'service' %}#serviceDeveloppementWeb"
        class="btn btn-primary"
        >voir plus</a
      >
    </div>
  </div>

  <div class="card mb-3" style="width: 18rem; border-radius: 20px">
    <img
      src="/staticfiles/maintenance.jpg"
      class="card-img-top img-fluid"
      alt="..."
      style="height: 200px; border-radius: 20px 20px 0 0; object-fit: cover"
    />
    <div class="card-body text-center">
      <h5 class="card-title">Maintenance</h5>
      <p class="card-text">
        Avec notre expertise en maintenance informatique, assurez la performance
        continue de votre système sans interruption.
      </p>
      <a
        href="{% url 'service' %}#serviceDeveloppementWeb"
        class="btn btn-primary"
        >voir plus</a
      >
    </div>
  </div>

  <div class="card mb-3" style="width: 18rem; border-radius: 20px">
    <img
      src="/staticfiles/formation.jpg"
      class="card-img-top img-fluid"
      alt="..."
      style="height: 200px; border-radius: 20px 20px 0 0; object-fit: cover"
    />
    <div class="card-body text-center">
      <h5 class="card-title" style="color: #001730">Formations</h5>
      <p class="card-text">
        Nos formations personnalisées vous équipent des compétences essentielles
        pour exceller dans le monde digital en constante évolution.
      </p>
      <a href="{% url 'formation' %}" class="btn btn-primary">voir plus</a>
    </div>
  </div>
</div>

<!-- fin services -->

<!-- Feature Start -->
<div
  class="container-fluid bg-light overflow-hidden px-lg-0"
  style="margin: 6rem 0"
>
  <div class="container feature px-lg-0">
    <div class="row g-0 mx-lg-0">
      <div class="col-lg-6 feature-text py-5 wow fadeIn" data-wow-delay="0.5s">
        <div class="p-lg-5 ps-lg-0">
          <div class="section-title text-start">
            <h3 class="display-7 mb-4" style="color: #001730">
              Pourquoi nous choisir
            </h3>
          </div>
          <p class="mb-4 pb-2 text-justify" style="color: #001730">
            <strong>Travail professionnel</strong><br />
            Nous sommes engagés à respecter les normes les plus élevées en
            matière de qualité et de professionnalisme, offrant des solutions
            informatiques innovantes et durables pour les entreprises de toutes
            tailles.
          </p>
          <div class="row g-4">
            <div class="col-6">
              <div class="d-flex align-items-center">
                <div
                  class="d-flex flex-shrink-0 align-items-center justify-content-center bg-white"
                  style="width: 60px; height: 60px"
                >
                  <i class="fa fa-check fa-2x text-primary"></i>
                </div>
                <div class="ms-4">
                  <h5 class="mb-0" style="color: #001730">Services</h5>
                  <p class="mb-2" style="color: #001730">qualité</p>
                </div>
              </div>
            </div>
            <div class="col-6">
              <div class="d-flex align-items-center">
                <div
                  class="d-flex flex-shrink-0 align-items-center justify-content-center bg-white"
                  style="width: 60px; height: 60px"
                >
                  <i class="fa fa-user-check fa-2x text-primary"></i>
                </div>
                <div class="ms-4">
                  <h5 class="mb-0" style="color: #001730">Travail</h5>
                  <p class="mb-2" style="color: #001730">Creatifs</p>
                </div>
              </div>
            </div>
            <div class="col-6">
              <div class="d-flex align-items-center">
                <div
                  class="d-flex flex-shrink-0 align-items-center justify-content-center bg-white"
                  style="width: 60px; height: 60px"
                >
                  <i class="fa fa-drafting-compass fa-2x text-primary"></i>
                </div>
                <div class="ms-4">
                  <h5 class="mb-0" style="color: #001730">Devis</h5>
                  <p class="mb-2" style="color: #001730">gratuit</p>
                </div>
              </div>
            </div>
            <div class="col-6">
              <div class="d-flex align-items-center">
                <div
                  class="d-flex flex-shrink-0 align-items-center justify-content-center bg-white"
                  style="width: 60px; height: 60px"
                >
                  <i class="fa fa-headphones fa-2x text-primary"></i>
                </div>
                <div class="ms-4">
                  <h5 class="mb-0" style="color: #001730">Assistance</h5>
                  <p class="mb-2" style="color: #001730">Client</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 pe-lg-0" style="min-height: 400px">
        <div class="position-relative h-100">
          <img
            class="position-absolute img-fluid w-100 h-100"
            src="/staticfiles/about.jpg"
            style="object-fit: cover"
            alt=""
          />
        </div>
      </div>
    </div>
  </div>
</div>

<!-- fin pourquoi nous choisir -->

<!-- Demande de devis -->
<div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
  <div class="container py-5">
    <div class="row g-5">
      <div class="col-lg-7">
        <div class="section-title position-relative pb-3 mb-5">
          <h3 class="mb-0" style="color: #001730" id="devisacceuil">
            Voulez-vous un devis gratuit? Laissez un message
          </h3>
        </div>
        <div class="row gx-3">
          <div class="col-sm-6 wow zoomIn" data-wow-delay="0.2s">
            <h5 class="mb-4" style="color: #001730">
              <i
                class="fa fa-reply text-primary me-3"
                style="color: #d05a0b !important"
              ></i
              >Reponse dans 24 heures
            </h5>
          </div>
          <div class="col-sm-6 wow zoomIn" data-wow-delay="0.4s">
            <h5 class="mb-4" style="color: #001730">
              <i
                class="fa fa-phone-alt text-primary me-3"
                style="color: #001730 !important"
              ></i
              >Assistance 24/24
            </h5>
          </div>
        </div>
        <p class="mb-4"></p>
        <p>
          Faites une demande de devis dès maintenant et découvrez comment notre
          équipe dévouée peut vous offrir une solution personnalisée adaptée à
          vos exigences.
        </p>
        <p>
          Nous vous garantissons un service de qualité, des tarifs compétitifs
          et une réponse rapide à votre demande. N'hésitez pas à nous contacter,
          nous sommes impatients de travailler avec vous pour réaliser vos
          projets.
        </p>
        <div
          class="d-flex align-items-center mt-2 wow zoomIn"
          data-wow-delay="0.6s"
        >
          <div
            class="bg-primary d-flex align-items-center justify-content-center rounded"
            style="width: 60px; height: 60px; background-color: #d05a0b"
          >
            <i class="fa fa-phone-alt text-white"></i>
          </div>
          <div class="ps-4">
            <h5 class="mb-2" style="color: #001730 !important">
              Appeller pour vos questions
            </h5>
            <h4 class="text-primary mb-0" style="color: #d05a0b !important">
              +221 77 723 40 84 / +242 06 485 3160
            </h4>
          </div>
        </div>
      </div>
      <div class="col-lg-5" style="background-color: #d05a0b !important">
        <div
          class="bg-primary rounded h-100 d-flex align-items-center p-5 wow zoomIn"
          data-wow-delay="0.9s"
          style="background-color: #d05a0b !important; color: white"
        >
          <form method="POST">
            {% csrf_token %}
            <div class="row g-3">
              <div class="col-xl-12">{{devis_form.nom}}</div>
              <div class="col-12">{{devis_form.email}}</div>
              <div class="col-12">{{devis_form.service}}</div>
              <div class="col-12">{{devis_form.message}}</div>
              <div class="form-check">
                <input
                  type="checkbox"
                  class="form-check-input"
                  id="accepter"
                  name="accepter"
                  required
                />
                <label class="form-check-label" for="accepter"
                  >J'accepte que mes données soient collectées.
                  <a
                    href="{% url 'termes' %}"
                    style="color: #001730"
                    id="termslink"
                    target="_blank"
                    ><u> termes et conditions</u>
                  </a>

                  <div id="modal" style="display: none">
                    <div id="modalContent">
                      <!-- Contenu des termes et conditions -->
                      <h2>Termes et Conditions</h2>
                      <p>
                        Ici, vous pouvez insérer le texte complet de vos termes
                        et conditions.
                      </p>
                    </div>
                    <button id="closeModal">Fermer</button>
                  </div>
                </label>
              </div>
              <div class="col-12">
                <button
                  class="btn btn-dark w-100 py-3"
                  type="submit"
                  style="background-color: #001730"
                  name="btn_devis"
                >
                  Envoyer
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- fin de demande de devis-->

<!-- commentaires -->
<!-- <div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
  <div class="container">
    <div class="section-title text-center">
      <h3 class="display-7 mb-5" style="color: #001730">Témoignages</h3>
    </div>
    <div class="owl-carousel testimonial-carousel">
      <div class="testimonial-item text-center">
        <img
          class="img-fluid bg-light p-2 mx-auto mb-3"
          src="/media/img/testimonial-1.jpg"
          style="width: 90px; height: 90px"
        />
        <div class="testimonial-text text-center p-4">
          <p>
            Clita clita tempor justo dolor ipsum amet kasd amet duo justo duo
            duo labore sed sed. Magna ut diam sit et amet stet eos sed clita
            erat magna elitr erat sit sit erat at rebum justo sea clita.
          </p>
          <h5 class="mb-1">Client Name</h5>
          <span class="fst-italic">Profession</span>
        </div>
      </div>
      <div class="testimonial-item text-center">
        <img
          class="img-fluid bg-light p-2 mx-auto mb-3"
          src="/media/img/testimonial-2.jpg"
          style="width: 90px; height: 90px"
        />
        <div class="testimonial-text text-center p-4">
          <p>
            Clita clita tempor justo dolor ipsum amet kasd amet duo justo duo
            duo labore sed sed. Magna ut diam sit et amet stet eos sed clita
            erat magna elitr erat sit sit erat at rebum justo sea clita.
          </p>
          <h5 class="mb-1">Client Name</h5>
          <span class="fst-italic">Profession</span>
        </div>
      </div>
      <div class="testimonial-item text-center">
        <img
          class="img-fluid bg-light p-2 mx-auto mb-3"
          src="/media/img/testimonial-3.jpg"
          style="width: 90px; height: 90px"
        />
        <div class="testimonial-text text-center p-4">
          <p>
            Clita clita tempor justo dolor ipsum amet kasd amet duo justo duo
            duo labore sed sed. Magna ut diam sit et amet stet eos sed clita
            erat magna elitr erat sit sit erat at rebum justo sea clita.
          </p>
          <h5 class="mb-1">Client Name</h5>
          <span class="fst-italic">Profession</span>
        </div>
      </div>
    </div>
  </div>
</div> -->
<!-- commentaires  End -->

<!-- temoignages -->

<!-- debut partenaires -->
<div class="container d-flex align-items-center justify-content-center">
  <h4><strong>Nos partenaires</strong></h4>
</div>
<br />
<img
  src="/staticfiles/Logo Officiel Rostel High-Tech.png"
  class="img-fluid border rounded"
  alt="..."
  width="100"
/>
<img
  src="/staticfiles/logo.png"
  class="img-fluid border rounded"
  alt="..."
  width="100"
/>

<!-- fin partenaires -->

<!-- pagination -->

<!-- <nav aria-label="Page navigation example">
      <ul class="pagination">
        <li class="page-item"><a class="page-link" href="#">précédents</a></li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">suivant</a></li>
      </ul>
    </nav> -->
<br /><br /><br />

{% endblock %}
