<!-- debut footer -->
{% load static %}
<link
  rel="stylesheet"
  href="{% static 'bootstrap-footer-20/bootstrap-footer-20/css/ionicons.min.css' %}"
/>
<link
  rel="stylesheet"
  href="{% static 'bootstrap-footer-20/bootstrap-footer-20/css/style.css' %}"
/>

<footer class="footer-10">
  <div class="container">
    <div class="row mb-5 pb-3 no-gutters">
      <div class="col-md-4 mb-md-0 mb-4 d-flex">
        <div class="con con-1 w-100 py-5">
          <div class="con-info w-100 text-center">
            <div class="icon d-flex align-items-center justify-content-center">
              <span class="ion-ios-call"></span>
            </div>
            <div class="text">
              <span>+221 77 723 40 84</span><br />
              <span>+242 06 485 3160</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-md-0 mb-4 d-flex">
        <div class="con con-2 w-100 py-5">
          <div class="con-info w-100 text-center">
            <div class="icon d-flex align-items-center justify-content-center">
              <span class="ion-ios-mail"></span>
            </div>
            <div class="text">
              <span>contact@daveprocode.com</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-md-0 mb-4 d-flex">
        <div class="con con-3 w-100 py-5">
          <div class="con-info w-100 text-center">
            <div class="icon d-flex align-items-center justify-content-center">
              <span class="ion-ios-pin"></span>
            </div>
            <div class="text">
              <span>GY-129 HLM Grand-Yoff</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-7">
        <div class="row">
          <div class="col-md-4 mb-md-0 mb-4">
            <h2 class="footer-heading">
              <a href="{% url 'about' %}">A propos</a>
            </h2>
            <ul class="list-unstyled">
              <li>
                <a href="{% url 'about' %}" class="d-block">Notre histoire</a>
              </li>
              <li><a href="{% url 'home' %}" class="d-block">Acceuil</a></li>
              <li>
                <a href="{% url 'about' %}#equipe" class="d-block"
                  >Notre Equipe</a
                >
              </li>
            </ul>
          </div>

          <div class="col-md-4 mb-md-0 mb-4">
            <h2 class="footer-heading">Dave procode</h2>
            <ul class="list-unstyled">
              <li>
                <a href="{% url 'service' %}" class="d-block">Nos services</a>
              </li>
              <!-- <li><a href="projets.html" class="d-block">Projets</a></li> -->
              <li><a href="{% url 'contact' %}" class="d-block">Contact</a></li>
              <li>
                <a href="{% url 'formation' %}" class="d-block">Formations</a>
              </li>
            </ul>
          </div>
          <div class="col-md-4 mb-md-0 mb-4">
            <h2 class="footer-heading">Resources</h2>
            <ul class="list-unstyled">
              <!-- <li><a href="projets.html" class="d-block">Projets</a></li> -->

              <li>
                <a
                  href="{% url 'termes' %}"
                  id="regles"
                  class="d-block"
                  target="_blank"
                  >Règles de confidentialité</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-5 mb-md-0 mb-4">
        <h2 class="footer-heading">S'inscrire à la Newsletter</h2>
        <form method="post" class="subscribe-form">
          {% csrf_token %}
          <div class="form-group d-flex">
            <input
              type="email"
              class="form-control rounded-left"
              name="email_news_letter"
              placeholder="Enter email address"
            />
            <button
              type="submit"
              class="form-control submit rounded-right"
              name="btn_news_letter"
            >
              S'inscrire
            </button>
          </div>
          <span class="subheading"
            >Ne manquer pas nos actualités sur nos différents articles</span
          >
        </form>
      </div>
    </div>
    <div class="row mt-5 pt-4 border-top">
      <div class="col-md-6 col-lg-8 mb-md-0 mb-4">
        <p class="copyright mb-0">
          <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          Copyright &copy;
          <script>
            document.write(new Date().getFullYear());
          </script>
          All rights reserved Dave Procode.<i
            class="ion-ios-heart"
            aria-hidden="true"
          ></i>
          <a href="https://www.daveprocode.com" target="_blank"
            >www.daveprocode.com</a
          >
        </p>
      </div>
      <div class="col-md-6 col-lg-4 text-md-right">
        <ul class="ftco-footer-social p-0">
          <li class="ftco-animate">
            <a
              href="https://www.linkedin.com/company/102593163/admin/feed/posts/"
              target="_blank"
              data-toggle="tooltip"
              data-placement="top"
              title="Linkedin"
              ><span class="ion-logo-linkedin"></span
            ></a>
          </li>
          <li class="ftco-animate">
            <a
              href="https://www.facebook.com/profile.php?id=100090052973249"
              target="_blank"
              data-toggle="tooltip"
              data-placement="top"
              title="Facebook"
              ><span class="ion-logo-facebook"></span
            ></a>
          </li>
          <li class="ftco-animate">
            <a
              href="https://www.instagram.com/daveprocode/"
              target="_blank"
              data-toggle="tooltip"
              data-placement="top"
              title="Instagram"
              ><span class="ion-logo-instagram"></span
            ></a>
          </li>
          <li class="ftco-animate">
            <a
              href="https://www.youtube.com/channel/UC4jXmLVIb2aP75r7m4doF5w"
              target="_blank"
              data-toggle="tooltip"
              data-placement="top"
              title="YouTube"
              ><span class="ion-logo-youtube"></span
            ></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>

<script src="{% static 'bootstrap-footer-20/bootstrap-footer-20/js/jquery.min.js' %}"></script>
<script src="{% static 'bootstrap-footer-20/bootstrap-footer-20/js/popper.js' %}"></script>
<script src="{% static 'bootstrap-footer-20/bootstrap-footer-20/js/bootstrap.min.js' %}"></script>
<script src="{% static 'bootstrap-footer-20/bootstrap-footer-20/js/main.js' %}"></script>

<!-- fin footer -->
