{% extends 'base/base.html' %} {% block content %}

<!--  section entete   -->
<br />
<div id="carouselExampleCaptions" class="carousel slide" style="z-index: 1">
  <div class="carousel-inner">
    <div class="carousel-item active text-center">
      <img
        src="/media/header_slide11.jpg"
        class="d-block"
        alt="..."
        style="height: 350px; width: 100%; object-fit: cover"
      />
      <div
        class="carousel-caption d-none d-md-block vertical-center horizontal-center"
      >
        <h1
          class="display-5"
          style="position: absolute; top: -100px; font-family: poppins"
        >
          <strong> Devenez partenaire </strong>
        </h1>
      </div>
    </div>
  </div>
</div>

<!-- fin image entete-->

<!-- debut formulaire -->
<div class="container">
  <div class="row">
    <div class="col-md-10 text-center">
      <!-- Section de présentation -->
      <h2>Nous Contacter</h2>
      <p>Remplissez le formulaire ci-dessous pour nous contacter.</p>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-md-12">
      <!-- Formulaire au centre -->
      <form>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="nomUtilisateur">Nom d'utilisateur :</label>
            <input
              type="text"
              class="form-control"
              id="nomUtilisateur"
              name="nomUtilisateur"
              required
            />
          </div>

          <div class="form-group col-md-6">
            <label for="email">Email :</label>
            <input
              type="email"
              class="form-control"
              id="email"
              name="email"
              required
            />
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="telephone">Téléphone :</label>
            <input
              type="tel"
              class="form-control"
              id="telephone"
              name="telephone"
              required
            />
          </div>

          <div class="form-group col-md-6">
            <label for="ville">Ville :</label>
            <input
              type="text"
              class="form-control"
              id="ville"
              name="ville"
              required
            />
          </div>
        </div>

        <div class="col-md-10 mb-md-0 mb-10 mx-auto">
          <!-- Utilisation de "mx-auto" pour centrer -->
          <form>
            <div class="form-row">
              <div class="form-group col-md-12">
                <label for="message">Message :</label>
                <textarea
                  class="form-control"
                  id="message"
                  name="message"
                  rows="6"
                  placeholder="Comment puis-je vous aider?"
                  style="font-size: 14px"
                  required
                ></textarea>
              </div>
            </div>

            <div class="form-check">
              <input
                type="checkbox"
                class="form-check-input"
                id="accepter"
                name="accepter"
                required
              />
              <label class="form-check-label" for="accepter"
                >J'accepte que mes données soient collectées.</label
              >
            </div>

            <!-- Ajoutez d'autres champs selon vos besoins -->

            <button type="submit" class="btn btn-primary mt-4">Envoyer</button>
            <!-- Ajout de "mt-3" pour un peu de marge en haut -->
          </form>
        </div>

        <div class="">
          <div class="row d-flex align-items-center">
            <!-- Informations de contact à gauche -->
            <div class="btn btn-primary mt-5">
              <h2 class="footer-heading">Nous Contacter</h2>
              <p>
                Vous avez un besoin? veillez nous contacter en suivants ces
                informations
              </p>
              <p>
                <strong
                  ><i
                    ><img
                      src="/media/assets/téléphone (2).png"
                      alt="Téléphone"
                      style="width: 55px; height: 55px"
                  /></i>
                  +221 77 723 40 84 ;</strong
                >
                +242 06 485 3160
              </p>
              <p>
                <strong
                  ><i
                    ><img
                      src="/media/assets/horaire1.png"
                      alt="horaires"
                      style="width: 55px; height: 55px"
                  /></i>
                  Horaires:</strong
                >
                Lun-Ven :9H00-18H00
              </p>
              <p>
                <strong
                  ><i
                    ><img
                      src="/media/assets/localisation1.png"
                      alt="Localisation"
                      style="width: 55px; height: 55px"
                  /></i>
                  Localisation :</strong
                >
                GY-129 HLM Grand-Yoff
              </p>
            </div>
          </div>
        </div>

        {% endblock content %}
      </form>
    </div>
  </div>
</div>
