{% extends 'base/base.html' %} {% load static %} {% block content %}

<!-- Libraries Stylesheet -->
<link href="{% static 'lib/animate/animate.min.css' %}" rel="stylesheet" />
<link
  href="{% static 'lib/owlcarousel/assets/owl.carousel.css' %}"
  rel="stylesheet"
/>
<link
  href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css' %}"
  rel="stylesheet"
/>
<link href="{% static 'lib/lightbox/css/lightbox.min.css'%}" rel="stylesheet" />

<script src="{% static 'js/script.js' %}" defer></script>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

<!--  section entete   -->

<!-- fin image entete-->

<!-- Developpement web -->
<br /><br /><br /><br />
<div class="h1">Termes et Conditions</div>

Les présentes modalités et conditions régissent l'utilisation du site web de
Dave Procode et de tous les services qui y sont offerts. En accédant à ce site
et en utilisant nos services, vous acceptez ces termes et conditions dans leur
intégralité. Si vous n'acceptez pas ces termes et conditions, veuillez ne pas
utiliser ce site.

<div class="h4">1. Utilisation du Site</div>

1.1. Vous acceptez d'utiliser ce site uniquement à des fins légales et
conformément à toutes les lois et réglementations applicables.
<br />
1.2. Vous vous engagez à ne pas utiliser ce site de manière à nuire, désactiver,
surcharger ou compromettre l'intégrité ou les performances du site.

<div class="h4">2. Contenu du Site</div>

2.1. Le contenu de ce site est fourni à titre informatif uniquement. Nous nous
efforçons de maintenir des informations précises et à jour, mais nous ne
garantissons pas l'exactitude, l'exhaustivité ou l'actualité du contenu.
<br />
2.2. Nous nous réservons le droit de modifier, mettre à jour ou supprimer tout
contenu de ce site à tout moment et sans préavis.
<br />

<div class="h4">3. Propriété Intellectuelle</div>

3.1. Le contenu, les graphiques, les logos et toute autre propriété
intellectuelle présente sur ce site sont la propriété de Dave Procode ou de ses
concédants de licence, et sont protégés par les lois sur le droit d'auteur et
d'autres lois applicables en matière de propriété intellectuelle.
<br />
3.2. Vous acceptez de ne pas reproduire, distribuer, modifier, afficher, publier
ou transmettre tout contenu de ce site sans notre autorisation écrite préalable.
<br />

<div class="h4">4. Liens vers des Sites Tiers</div>

4.1. Ce site peut contenir des liens vers des sites web de tiers. Ces liens sont
fournis à titre de commodité et n'impliquent aucune approbation de notre part
quant au contenu de ces sites.
<br />
4.2. Nous déclinons toute responsabilité quant au contenu, à l'exactitude ou à
la disponibilité des sites web tiers liés à ce site.
<br />

<div class="h4">5. Limitation de Responsabilité</div>

5.1. Dans toute la mesure permise par la loi, nous déclinons toute
responsabilité pour les dommages directs, indirects, spéciaux, accessoires ou
consécutifs découlant de l'utilisation ou de l'incapacité d'utiliser ce site ou
de tout contenu qui y est présenté.
<br />

<div class="h4">6. Modification des Termes et Conditions</div>

6.1. Nous nous réservons le droit de modifier ces termes et conditions à tout
moment et sans préavis. Il est de votre responsabilité de consulter
régulièrement ces termes et conditions pour prendre connaissance de toute
modification.
<br />
<div class="p">
  En utilisant ce site, vous acceptez d'être lié par les termes et conditions
  ci-dessus. Si vous avez des questions concernant ces termes et conditions,
  veuillez nous contacter à l'adresse indiquée sur notre site web.
</div>

<!-- Fin nos services-->

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

<script src="{% static 'lib/wow/wow.min.js' %}"></script>
<script src="{% static 'lib/easing/easing.min.js' %}"></script>
<script src="{% static 'lib/waypoints/waypoints.min.js' %}"></script>
<script src="{% static 'lib/counterup/counterup.min.js' %}"></script>
<script src="{% static 'lib/owlcarousel/owl.carousel.min.js' %}"></script>
<script src="{% static 'lib/isotope/isotope.pkgd.min.js' %}"></script>
<script src="{% static 'lib/lightbox/js/lightbox.min.js' %}"></script>

<script src="{% static 'js/main.js' %}"></script>

{% endblock content %}
